<ul class="topnav" id="myTopnav">
 <li><a href='/'>Home</a> &nbsp;||&nbsp;</li>
 <li><a href='data_selection'> OLAP Data Set Selection </a> &nbsp;||&nbsp;</li>
 <li><a href='feature_selection'> Feature Selection </a> &nbsp;||&nbsp;</li>
 <li><a href='algorithm_selection'> Algorithm Selection </a>&nbsp;||&nbsp;</li>
 <li><a href='data_selection_oltp'> OLTP Data Set Selection </a> &nbsp;||&nbsp;</li>
 <li><a href='build_model'> Build Model </a>&nbsp;||&nbsp;</li>
 <li><a href='run_model'> Run Model </a> &nbsp;||&nbsp;</li>
 <li><a href='result_evaluation'> Result Evaluation </a></li>
</ul>
